* {
  margin: 0;
  padding: 0;
}

header {
  padding: 1vh;
  background-color: #880d1e;
  height: 20vh;
}

nav a {
  text-decoration: none;
  color: black;
  border: solid black;
  border-radius: 0.5vh;
  font-size: 1.5em;
}

h1 {
  font-family: "Cherry Cream Soda", cursive;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

img {
  width: 100vw;
}

body {
  background-image: url(output-onlinejpgtools.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.huvudrubrik {
  font-family: "Alegreya", serif;
  font-size: 1.5em;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.huvudrubrik p {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 40vw;
  height: 5vh;
  border: solid black;
  background-color: #880d1e;
}

.infotext {
  font-family: "Alegreya", serif;
  font-size: 1.2em;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.ingrideienser {
  font-family: "Alegreya", serif;
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
}

.ingrideienser h3 {
  font-size: 2em;
}

.ingrideienser li {
  margin-top: 1vh;
}

hr {
  width: 90vw;
  margin: auto;
}

footer {
  font-family: "Actor", sans-serif;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  height: 20vh;
  background-color: #cccccc;
}

footer aside {
  display: flex;
  justify-content: space-between;
}

footer a {
  margin-right: 5vw;
  margin-left: 5vw;
}

footer img {
  height: 8vh;
  width: auto;
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 4em;
  }
  img {
    height: 70vh;
    object-fit: cover;
  }

  .ingrideienser {
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 50vw;
  }
}
