* {
  padding: 0;
  margin: 0;
}

header {
  padding: 1vh;
  background-color: #880d1e;
  border: solid black 2px;
}

h1 {
  margin: 5vh;
  display: flex;
  justify-content: center;
}

body {
  font-family: "Cherry Cream Soda", cursive;
  background-image: url(output-onlinejpgtools.jpg);
  background-repeat: no-repeat;
  width: 100vw;
}

.meny {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.meny a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 6vh;
  margin-top: 10vh;
  border: solid black;
  border-radius: 2vh;
  text-decoration: none;
  color: black;
  background-color: #880d1e;
}

footer {
  font-family: "Actor", sans-serif;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  height: 20vh;
  background-color: #cccccc;
}

footer aside {
  display: flex;
  justify-content: space-between;
}

footer a {
  margin-right: 5vw;
  margin-left: 5vw;
}

footer img {
  height: 8vh;
  width: auto;
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 4em;
  }
}
