* {
  margin: 0;
  padding: 0;
}

header {
  font-family: "Cherry Cream Soda", cursive;
  padding: 1vh;
  background-color: hsl(352, 83%, 29%);
}

h1,
h2 {
  margin: 5vh;
  display: flex;
  justify-content: center;
}

body {
  background-image: url(output-onlinejpgtools.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inmatning {
  text-align: center;
  width: 50vw;
  margin-top: 5vh;
  margin-bottom: 1vh;
  border: 1px black solid;
  border-radius: 1vh;
  padding: 1.5vh;
}

.inlogning {
  text-align: center;
  width: 30vw;
  border: 1px black solid;
  border-radius: 1vh;
  padding: 8px;
}

.inlogning:hover {
  background-color: red;
}

.symboler {
  margin: 3vh;
}

.symboler section {
  margin-top: 2vh;
}

img {
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
  opacity: 0.9;
}

main p {
  margin: 8vw;
  text-align: center;
}

section {
  display: flex;
  align-items: center;
}
section p {
  margin-left: 8vw;
}

footer {
  display: flex;
  flex-direction: column;
  height: 20vh;
  background-color: gray;
}

footer aside {
  display: flex;
  justify-content: space-between;
}

footer a {
  margin-right: 5vw;
  margin-left: 5vw;
}

footer img {
  height: 8vh;
  width: auto;
}

@media only screen and (min-width: 1200px) {
  .symboler section {
    margin-left: 20vw;
  }

  .inmatning {
    width: 30vw;
  }

  .inlogning {
    width: 20vw;
    height: 5vh;
  }
}
