* {
  margin: 0;
  padding: 0;
}

header {
  font-family: "Cherry Cream Soda", cursive;
  padding: 1vh;
  background-color: #880d1e;
}

h1,
h2 {
  margin: 5vh;
  display: flex;
  justify-content: center;
}

.kod {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inmatning {
  text-align: center;
  width: 50vw;
  margin-top: 5vh;
  margin-bottom: 1vh;
  border: 1px black solid;
  border-radius: 1vh;
  padding: 1.5vh;
}

.inlogning {
  text-align: center;
  width: 30vw;
  border: 1px black solid;
  border-radius: 1vh;
  padding: 8px;
}

.inlogning :hover {
  background-color: red;
}

.symboler {
  margin: 3vh;
}

img {
  width: 100px;
}

main p {
  margin: 8vw;
  text-align: center;
}

section {
  display: flex;
  align-items: center;
}
section p {
  margin-left: 8vw;
}
