* {
  margin: 0;
  padding: 0;
}

header {
  font-family: "Cherry Cream Soda", cursive;
  padding: 1vh;
  background-color: #880d1e;
  height: 20vh;
}

nav a {
  text-decoration: none;
  color: black;
  border: solid black;
  border-radius: 0.5vh;
}

h1 {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

img {
  width: 100vw;
}

body {
  background-image: url(output-onlinejpgtools.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.huvudrubrik {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.huvudrubrik p {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 40vw;
  height: 5vh;
  border: solid black;
  background-color: #880d1e;
}

.infotext {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 10vw;
}

.ingrideienser {
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
}

.ingrideienser li {
  margin-top: 1vh;
}

hr {
  width: 90vw;
  margin: auto;
}

footer {
  display: flex;
  flex-direction: column;
  height: 20vh;
  background-color: gray;
}

footer aside {
  display: flex;
  justify-content: space-between;
}

footer a {
  margin-right: 5vw;
  margin-left: 5vw;
}

footer img {
  height: 8vh;
  width: auto;
}

@media only screen and (min-width: 1200px) {
  img {
    height: 60vh;
    width: auto;
  }
}
