* {
  margin: 0;
  padding: 0;
}

header {
  font-family: "Cherry Cream Soda", cursive;
  padding: 1vh;
  background-color: #880d1e;
  height: 20vh;
}

nav a {
  text-decoration: none;
  color: black;
  border: solid black;
  border-radius: 0.5vh;
}

h1 {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

body {
  background-image: url(output-onlinejpgtools.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
}

.dagensrekomentation {
  width: 80vw;
  height: 55vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
}

.dagensrätter {
  width: 240vw;
  height: 55vh;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
}

.dagensrätter section {
  width: 80vw;
  height: 55vh;
  background: linear-gradient(#ffffff, #cccccc);
  float: left;
}

.knapp-hållare {
  position: relative;
}
.slider-knapp {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: black;
}

#slider-rätt-1:target ~ .dagensrätter {
  left: 0vw;
}
#slider-rätt-2:target ~ .dagensrätter {
  left: -80vw;
}
#slider-rätt-3:target ~ .dagensrätter {
  left: -160vw;
}

h3 {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.rätter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10vh;
}

img {
  width: 80vw;
  height: 80vw;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 2vh;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 40vw;
  height: 5vh;
  border: solid black;
  background-color: #880d1e;
}

.rätter aside {
  border: black solid;
  width: 80vw;
  background: linear-gradient(#ffffff, #cccccc);
}

footer {
  display: flex;
  flex-direction: column;
  height: 20vh;
  background-color: gray;
}

footer aside {
  display: flex;
  justify-content: space-between;
}

footer a {
  margin-right: 5vw;
  margin-left: 5vw;
}

footer img {
  height: 8vh;
  width: auto;
}

@media only screen and (min-width: 1200px) {
  img {
    width: 20vw;
    height: auto;
  }

  .rätter {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 15%;
  }

  .rätter section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rätter aside {
    width: 20vw;
  }

  .rätter-kort {
    display: flex;
    flex-direction: row;
  }

  p {
    text-align: center;
    width: 10vw;
    height: 5vh;
    border: solid black;
    background-color: #880d1e;
  }
}
